name: Build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt, clippy

      - run: cargo clippy --workspace
      - run: cargo fmt --all -- --check

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - run: cargo test
      - run: cargo run --example test
      - run: cargo run --example blocking_test log_nonblock
      - run: cargo run --example blocking_test simple_logger
      - if: matrix.os == 'ubuntu-latest'
        run: cargo run --example blocking_test log_nonblock --features nonblock-io
